      *{
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-color: rgba(254, 238, 218, 0.649);
        }
        #section{
            display: flex;
            flex-direction: column;
            align-items: left;
            margin: 40px 400px;
            border: 2px solid white;
            background-color: white;
            width: 600px;
            height: auto;
            box-shadow: 0 0 10px rgba(31, 31, 31,1);
            border-radius: 10px;
        }
        #section h1{
            text-align: center;
          padding:10px 0px;
          font-size: 3rem;
        }
        #section p{
            padding: 10px 10px;
            font-size: 1.2rem;
        }
        #section input{
            padding:10px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 10px;
        }
        #section button{
            margin: 10px 10px;
            height: 40px;
            font-size: 30px;
            background-color: green;
            color: white;
            border-radius: 10px;
            border: none;
        }
        #discription{
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            background-color: antiquewhite;
            margin: 10px 50px;
            border: 1px solid black;
            border-radius: 20px;
        }
       #modes{
        display: flex;
       column-gap: 460px;
        margin-left: 400px;
        margin-top: 30px;
        font-size: 20px;
        font-weight: 900;
       }
        #currency{
            padding:10px;
            margin-left: 10px;
            margin-top: 10px;
            margin-right: 10px;
            border-radius: 10px;
        }
        @media (max-width: 1024px) {
    #section{
            margin: 100px 6px;
            width: 98%;
        }
        #color-button{
            margin-left: 300px;
        }
             #modes{
           column-gap: 620px;
        margin-top: 30px;
        font-size: 20px;
        font-weight: 900;
        margin-left:20px;}
}
       @media (max-width: 768px) {
       #section{
            margin: 30px 5px;
            width: 97%;
        }
        #modes{
       column-gap: 320px;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 900;
        margin-left:10px;
        }
}
